APP_ENV=local
APP_STATUS=NOTINSTALLED
APP_KEY=base64:5uMTdhlfg3IGY4I0uuCResaLGUEzea9bESkDkXj6tS8=
APP_DEBUG=true
APP_LOG_LEVEL=debug

APP_URL=http://localhost:8080
CLIENT_URL=http://localhost:3000

APP_TIMEZONE=Asia/Kolkata
APP_AUTO_LOCALE=true

PUBLIC_DIR=public_html
REACTOR_PREFIX=admin
REACTOR_LOCALE=en

DB_CONNECTION=mysql
DB_HOST=192.168.1.5
DB_PORT=3306
DB_DATABASE=reactor_dorii
DB_USERNAME=root
DB_PASSWORD=root

CACHE_DRIVER=file
SESSION_DRIVER=file
BROADCAST_DRIVER=log

APP_STATUS=NOT-INSTALLED
APP_KEY=base64:a0b1c2d3e4f5g6h7i8j9k0l1m2n3o4p5r6s7t8u9v0y=
APP_DEBUG=false
APP_LOG_LEVEL=debug
APP_URL=
APP_TIMEZONE=Europe/Istanbul
APP_AUTO_LOCALE=true

PUBLIC_DIR=public_html
REACTOR_PREFIX=
REACTOR_LOCALE=en

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM=null
MAIL_FROMNAME="Reactor No-Reply"

MAILCHIMP_API_URL=null
MAILCHIMP_API_KEY=null
MAILCHIMP_FROMNAME=null
MAILCHIMP_REPLYTO=null

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

API_ANALYTICS=UA-XXXXX-Y

JWT_SECRET=RxB42GPeHE0Wvjg7S2bMuLlNBBq6ZWhB
API_ANALYTICS=UA-XXXXX-Y
